<h1>Search For a Movie Using <a href="http://www.omdbapi.com/">OMDb API</a></h1>

<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Search Term">
    <input type="submit">
</form>